
*{
    padding : 0;
    margin : 0;
}
html, body{
    height: 100%;
    overflow: hidden;
}
body{
    height: 100%;
    background-image: url('./resized/background.jpg');
    background-size: cover;
    background-attachment:fixed;
    overscroll-behavior-x: contain;
    overscroll-behavior-y: contain;
    overflow: hidden;
    scrollbar-width:  none;
}
/* Notice */
.notice{
    margin-top: 10%;
    padding: 0;
}
.notice_content{
    padding : 3% 10%;
}
.notice_title{
    color: #ff5151;
}


/* End notice */
/* Result child */

.result-child{
    margin: 10%;
    padding : 0;
    padding-top: 15px;
}



/*  */
.count3{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 30%;
    font-size: 140px;
    text-shadow: 3px 3px 0px #F2A063;
}
.board{
    display: none;
}
.board_timer{
    margin-top: 5px;
    pointer-events: none;
    background-color: white;
    color:black;
    position: absolute;
    width: 35%;
    left:35%;
    opacity: 0.96;
}
#cart{
    pointer-events: none;
    text-align: center;
    position: absolute;
    bottom: 2%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
#cart_img{
    z-index: 1;
    /* -webkit-logical-height: auto; */
    width: 20%;
    height: auto;
    /* -webkit-logical-width: 23%; */
}

.item_fall{
    position: absolute;
    cursor: pointer;
    width: 110px;
    height: auto;
}
.cart_image{
    z-index: 2;
    position: absolute;
    height: auto;
    width: 3.5%;
}
.invisible{
    opacity: 0.5 ;
}


.result{
    margin-top: 20%;
}

.notice, .result-child, .board_timer {
    position: absolute;
    top: -100%;
    -webkit-animation: slide 0.7s forwards;
    -webkit-animation-delay: 0.3s;
    animation: slide 0.7s forwards;
    animation-delay: 0.3s;
}

@-webkit-keyframes slide {
    100% { top: 0; }
}

@keyframes slide {
    100% { top: 0; }
}

#cart{
    position: absolute;
    bottom: -1000px;
    -webkit-animation: slidecart 0.5s forwards;
    -webkit-animation-delay: 0.25s;
    animation: slidecart 0.5s forwards;
    animation-delay: 0.25s;
}
@-webkit-keyframes slidecart {
    100% { bottom: 0; }
}

@keyframes slidecart {
    100% { bottom: 0; }
}











/*  */
/*  */
/*  */
@media only screen and (max-width: 1200px) {
    .item_fall{
        width : 100px;
    }
    #cart_img{
        /* -webkit-logical-width: 25%; */
        width: 23%;
    height: auto;
    }
}
@media only screen and (max-width: 992px) {
    .item_fall{
        
        width : 90px;
    }
    .board_timer{
        position: absolute;
        width: 40%;
        left: 30%;
    }
    .cart_image{
        width: 5%;
    }
    #cart_img{
        /* -webkit-logical-width: 25%; */
        width: 25%;
    height: auto;
    }
}
@media only screen and (max-width: 768px) {
    .item_fall{
        width : 80px;
    }
    .board_timer{
        position: absolute;
        width: 70%;
        left: 17%;
    }
    .cart_image{
        width: 8%;
    }
    #cart_img{
        /* -webkit-logical-width: 30%; */
        width: 28%;
    height: auto;
    }
}