*{
    padding : 0;
    margin : 0;
}
body{
    background-image: url('./resized/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    overscroll-behavior-x: contain;
    overscroll-behavior-y: contain;
}
.count3{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 30%;
    font-size: 140px;
}
.board{
    display: none;
}
.board_timer{
    position: absolute;
    width: 30%;
    left: 35%;
}
#cart{
    text-align: center;
    position: absolute;
    bottom: 3%;
}

@media only screen and (max-width: 992px) {
    .board_timer{
        position: absolute;
        width: 50%;
        left: 26%;
    }
}
.item_fall{
    position: absolute;
    cursor: pointer;
    width: 120px;
}
.invisible{
    opacity: 0.5    ;
}

@media only screen and (max-width: 1200px) {
    .item_fall{
        
        width : 100px;
    }
}
@media only screen and (max-width: 992px) {
    .item_fall{
        
        width : 90px;
    }
}
@media only screen and (max-width: 768px) {
    .item_fall{
        
        width : 75px;
    }
}