@media only screen and (max-width: 1200px) {
    .item_fall{

        width : 100px;
    }
    #cart_img{
        width: 12%;
    }
}
@media only screen and (max-width: 992px) {
    .item_fall{
        
        width : 90px;
    }
    .board_timer{
        position: absolute;
        width: 40%;
        left: 30%;
    }
    .cart_image{
        width: 5%;
    }
    #cart_img{
        width: 17%;
    }
}
@media only screen and (max-width: 768px) {
    .item_fall{
        width : 75px;
    }
    .board_timer{
        position: absolute;
        width: 70%;
        left: 17%;
    }
    .cart_image{
        width: 8%;
    }
    #cart_img{
        width: 20%;
    }
}